@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: auto;
  /* background: url('../public/images/port-bg.jpg') no-repeat center center/ cover;
  background-attachment: fixed; */
}

.nav-hb {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 997;

}

.hb {
  color: rgb(224, 2, 224) !important;
  font-size: 30px !important;
}

.nav-link-text {
  font-size: 19.2px !important;
  font-weight: bold !important;
}

.nav-link-icon {
  padding: 10px 10px;
}

.nav-a:after {
  background-color: rgb(224, 2, 224);
  border-radius: 16px;
  position: relative;
  content: " ";
  bottom: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 5px;
  transition: all 0.3s;
  margin: 3px;
}

.nav-a:hover::after {
  width: 100%;
}

.section {
  width: 100%;
  /* height: auto; */
  /* min-height: 200vh; */
  position: relative;
  /* top: 0;
  left: 0;
  right: 0; */
  box-sizing: border-box;
  background: url('../public/images/port-bg.jpg') no-repeat center center/ cover;
  background-attachment: fixed;
}

.section>div {
  box-sizing: border-box;
  /* position: absolute; */
  /* top: 0; */
  /* height: 100%; */
  /* bottom: 0; */
  width: 100%;
  padding: 160px 0 60px 0;
  background-color: hsla(0, 0%, 0%, 0.6);
}

.home-sec1 {
  height: 70vh;
}

.home-text {
  font-family: "Raleway", sans-serif;
}

.home-sec2 {
  padding: 100px 0 10px 0;
}

.intro-info>p {
  font-family: "Raleway", sans-serif;
  font-size: 19.2px;
  font-weight: 400;
}

.find-info>h2 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

.find-info>p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
}

.social-links>img {
  border-radius: 50%;
  width: 65%;
}

.social-links:hover>img {
  box-shadow: rgba(224, 2, 224, 0.56) 0px 22px 70px 14px;
}

/* ****************************************** ABOUT ***************************************************  */

.about-info {
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.skill-item {
  border: 2px solid rgba(176, 2, 176, 0.7) !important;
  margin: 15px !important;
  padding: 10px !important;
  border-radius: 5px !important;
  text-align: center !important;
  display: table !important;
  overflow: hidden !important;
  vertical-align: middle !important;
  font-size: 4.5rem !important;
  opacity: 0.93 !important;
  box-shadow: rgba(4, 4, 4, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s;
}

.skill-item:hover {
  transform: scale(1.1);
  border: 2px solid rgb(216, 1, 216) !important
}

.skill-item>img {
  width: 40%;
}

.col-w {
  width: 31.333% !important;
}

.service-item {
  border-top: 6px solid rgba(131, 0, 131, 0.4);
  transition: all 0.3s;
  border-right: 1px solid rgb(203, 203, 203);
  border-left: 1px solid rgb(203, 203, 203);
  border-bottom: 1px solid rgb(203, 201, 201);
}

.service-item:hover {
  border-top: 6px solid rgb(216, 1, 216);
  /* color: blue; */
}


/* ****************************************** Project ***************************************************  */
.proj-head>h2 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.proj-head>p {
  font-family: "Raleway", sans-serif;
}

.project-box {
  box-shadow: rgba(216, 1, 216, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}

.project-box:hover {
  transform: scale(1.1);
  box-shadow: rgba(216, 1, 216, 0.45) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project-box>h3 {
  /* font-size: 18px; */
  font-family: "Raleway", sans-serif;
}

.project-btn {
  border-radius: 5px;
  background-color: rgb(145, 1, 145);
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.project-btn:hover {
  background-color: rebeccapurple;
}

/* ****************************************** Resume ***************************************************  */
.frame {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}